/* all font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* all things */
* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Poppins', sans-serif;
    /* background-color: #f3f1ff; */

    /* margin-right: 120px; */
    background-color: gainsboro;
    overflow-x: hidden;


}

main {
    margin-left: 120px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    color: #3A3A3A;


}

.top-left {
    font-weight: 700px;
    font-size: 24px;
    /* width: 243px;
    height: 52.2px; */
    margin-top: 70px;

}

.top-right {
    display: flex;
    width: 50vw;
    justify-content: center;
    height: 36px;
    margin-top: 72px;



}

/* .mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.top-right-text {
    display: flex;
    justify-content: space-around;
    width: 60%;
}


.top-right-text a {
    text-decoration: none;


}

/* navbar end */

/* start top section */
.top-page {
    display: flex;
    width: 100vw;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 30%;
    align-items: center;
}



.right-side {
    width: 50%;
}

.right-side img {
    width: 60%;
    height: 350px;
    margin-right: 10px;
}

.left-side .button {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 4px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-top: 20px;

}

/* end top page */
/* .horizontal {
    width: 1110px;
    height: 110px;
} */

/* horizontal line started */
.horizontal {
    margin-top: 20px;
}

.company {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;

}

.image {
    display: flex;
    align-items: center;
}

/* horizontal line end */

/* popular collection started */
.mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 30px;
    margin-right: 0;
}

.popular-collection {
    margin-top: 15px;
    width: 80%;
    /* display: flex;
    justify-content: center; */


}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    align-items: center;
}

.blog {
    width: 329px;
    height: 476px;
}

.one {
    text-align: center;
}

.fa-solid.filled {
    color: #FFC014;

}

.blogs a {
    text-decoration: none;
    color: #E02C6D;

}

/* last part */
.last {
    width: 80vw;
    display: flex;
    margin-top: 20px;
}

.last-image {
    width: 50%;
}

.last-text {
    width: 50%;
}

.last-text .button {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 4px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-top: 20px;

}

/* last part end */

/* 
footer section */

.footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;


}

.foot {
    text-align: center;
    color: white;
}